[submodule "Core/Core/OSIBAS_VTL"]
	path = Core/Core/OSIBAS_VTL
	url = https://github.com/schmidah/OSIBAS_VTL
[submodule "Core/OSIBAS_VTL"]
	path = Core/OSIBAS_VTL
	url = https://github.com/schmidah/OSIBAS_VTL
